language: php

php:
  - 5.6
  - 7.0
  - 7.1
  - 7.2

env:
  global:
    - setup=basic

sudo: false

before_install:
  - travis_retry composer self-update

install:
  - composer install --no-interaction --prefer-dist

script: vendor/bin/phpunit
